@model Group13iFinanceFix.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2 class="mb-4">Change Password</h2>

@using (Html.BeginForm("ChangePassword", "NonAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.CurrentPassword)
        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" }) <!--Enter current password-->
        @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" }) <!--Enter new password-->
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" }) <!--Confirm new password-->
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>

   
    if (ViewBag.Message != null)
    {
        <p class="text-danger mt-2">@ViewBag.Message</p>
    }

    if (TempData["Success"] != null) //Not working right now 
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }
}

